.container-btn {
    display: flex;
    justify-content: center;
}

.btn-toggle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.86;
    text-transform: uppercase;
    padding: 10px 20px;
    margin: 250px 10px;
    border-radius: 6px;
    cursor: pointer;
}

